body {
  -webkit-app-region: drag;
  font-family: sans-serif;
  font-size: 14px;
  margin: 1.5em 2em;
}

#entry-date {
  color: #bbb;
  height: 1em;
  margin: 0.5em 0;
  text-align: right;
}

#current-entry, #current-entry:focus {
  width: 90%;
  height: 50%;
  margin: 0;
  padding: 0;
  font-size: 2em;
  border: none;
  outline: none !important;
  resize: none;
}

#current-entry::placeholder {
  color: #ddd;
}

#entry-options {
  color: #bbb;
}

#entry-options a:hover {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}
